### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(25)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,132,Persuasion,3.19

## Player Count

* Display the total number of players

In [55]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [56]:
#find number of unique players 
UniquePlayers=[]
UniquePlayers = purchase_data["SN"].unique()

UniquePlayersCount= len(UniquePlayers)
UniquePlayersCount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
#find number of unique items purchased by finding unique item IDs
UniquePurchases=[]
UniquePurchases=purchase_data['Item ID'].unique()
UniquePurchasesCount=len(UniquePurchases)
UniquePurchasesCount

179

In [58]:
 #average purchase price
PurchasesTotal= purchase_data['Price'].sum() 
NumofPurchases =len(purchase_data['Price'])  
AvPurchPrice = PurchasesTotal/NumofPurchases
#create a dict to hold results for new df
dict = {'Total # of Purchases': [NumofPurchases], '$ Purchases Total': [PurchasesTotal], 'Average Purchase Price': [AvPurchPrice]} 

PurchaseSumTable_df= pd.DataFrame(dict)
PurchaseSumTable_df

   Total # of Purchases  $ Purchases Total  Average Purchase Price
0                   780            2379.77                3.050987

# Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [128]:
purchase_data.groupby(['Gender']).count()['SN']
#get percentage of player count by gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [134]:
purchase_data.groupby(['Gender', 'SN']).sum()['Price']
purch_count_gender=pd.DataFrame({})

Gender                 SN
Female                 Adastirin33      4.48
                       Aerithllora36    8.64
                       Aethedru70       3.54
                       Aidain51         3.45
                       Aiduesu86        4.48
                                        ...
Other / Non-Disclosed  Lirtim36         1.33
                       Maluncil97       5.28
                       Rairith81        2.22
                       Siarithria38     6.91
                       Sundim98         4.75
Name: Price, Length: 576, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [60]:
#find max and min age values for bins
minAge=purchase_data['Age'].min()
maxAge=purchase_data['Age'].max()
print(minAge)
print(maxAge)

7
45

In [61]:
bins = [6, 10, 15, 20, 25, 30, 35, 40, 45]
labels = ['6 to 10', '11 to 15', '16 to 20', '21 to 25', '26 to 30', '31 to 35', '36 to 40', '41 to 45']

In [62]:
pd.cut(purchase_data['Age'], bins, labels=labels).head()

0    16 to 20
1    36 to 40
2    21 to 25
3    21 to 25
4    21 to 25
Name: Age, dtype: category
Categories (8, object): ['6 to 10' < '11 to 15' < '16 to 20' < '21 to 25' < '26 to 30' < '31 to 35' < '36 to 40' < '41 to 45']

In [63]:
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,16 to 20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,36 to 40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,21 to 25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,21 to 25
4,4,Iskosia90,23,Male,131,Fury,1.44,21 to 25
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,21 to 25
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,21 to 25
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,16 to 20
778,778,Sisur91,7,Male,92,Final Critic,4.19,6 to 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,21 to 25

In [64]:
# * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [98]:
# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

user_total = purchase_data.groupby(["SN"]).sum()["Price"]
user_average = purchase_data.groupby(["SN"]).mean()["Price"]
user_count = purchase_data.groupby(["SN"]).count()["Price"]

#combine series into dataframe
player_purchase_data=pd.DataFrame({"Total Purchase Value": user_total, "Average Purchase Price": user_average, "Purchase Count": user_count})
player_purchase_data

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

In [ ]:

#sort by total purch value to find top 5 spenders
sorted_player_data=player_purchase_data.sort_values(by='Total Purchase Value', ascending=False)

#Return top 5 spenders
top_spenders=sorted_player_data.head(5)
top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [101]:
most_pop_items = purchase_data[['Item ID', 'Item Name', 'Price']]
most_pop_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [121]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
total_purchase_value = purchase_data.groupby(['Item Name']).sum()['Price']
total_purchase_value
total_items= purchase_data['Item Name'].nunique()
item_purchase_count = purchase_data.groupby(['Item Name']).count()['Price']

most_pop_items_df = pd.DataFrame({'Total Purchase Value' : total_purchase_value, 'Item Purchase Count': item_purchase_count})

most_pop_items_df.sort_values(by='Item Purchase Count', ascending=False)

,Total Purchase Value,Item Purchase Count
Item Name,,
Final Critic,59.99,13
"Oathbreaker, Last Hope of the Breaking Storm",50.76,12
Persuasion,28.99,9
Nirvana,44.10,9
"Extraction, Quickblade Of Trembling Hands",31.77,9
...,...,...
"Riddle, Tribute of Ended Dreams",3.30,1
Betrayer,2.94,1
The Decapitator,1.75,1
Gladiator's Glaive,1.93,1
"Ghost Reaver, Longsword of Magic",2.17,1

In [123]:
items_sorted_popularity=most_pop_items_df.sort_values(by='Item Purchase Count', ascending=False)
top_five_items=items_sorted_popularity.head(5)
top_five_items

,Total Purchase Value,Item Purchase Count
Item Name,,
Final Critic,59.99,13
"Oathbreaker, Last Hope of the Breaking Storm",50.76,12
Persuasion,28.99,9
Nirvana,44.10,9
"Extraction, Quickblade Of Trembling Hands",31.77,9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame